<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiwiSaverCalculator</title>
    
    <link rel="stylesheet" href="chartist.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="chartist.min.js"></script>
    <script type="text/javascript" src="angular-chartist.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="services/investments.js"></script>
    <script type="text/javascript" src="services/kiwisaver.js"></script>
    <script type="text/javascript" src="controllers/chartController.js"></script>
    <script type="text/javascript" src="controllers/investmentsController.js"></script>
    <script type="text/javascript" src="controllers/kiwisaverController.js"></script>
</head>
<body class="content" ng-app="OnePagePortfolio">
    <h1>KiwiSaver Calculator</h1>
    <div ng-controller="kiwisaverController as kiwisaver">
        <section id="settings">
            <p class="inlineParagraph">
                I am
                <input class="inlineText shortNumber" type="number" name="age" maxlength="2" ng-model="data.Age" ng-change="kiwisaver.updateData()"/> 
                years old, and my salary is $
                <input class="inlineText" type="number" name="salary" maxlength="7" ng-model="data.Salary" ng-change="kiwisaver.updateData()"/>
            </p>
            <p class="inlineParagraph">
                I contribute
                <input class="inlineText shortNumber" type="number" name="contributionRate" maxlength="7" ng-model="data.ContributionRate" ng-change="kiwisaver.updateData()"/>% 
                to my KiwiSaver, which is invested at 
                <input class="inlineText shortNumber" type="number" name="return" maxlength="2" ng-model="data.Return" ng-change="kiwisaver.updateData()"/>% 
                p.a.
            </p>
            <p class="inlineParagraph">
                The current balance of my KiwiSaver account is $
                <input class="inlineText" type="number" name="currentValuation" maxlength="7" ng-model="data.CurrentValuation" ng-change="kiwisaver.updateData()"/> 
            </p>
        </section>
        <div ng-controller="chartController as Chartist" class="wrapper">
            <section id="valuationChart">
                <h3>Valuation Chart</h3>
                <chartist class="ct-chart" chartist-data="$parent.valuationData" chartist-chart-type="Line" chartist-chart-options="Chartist.Options" chartist-responsive-options="Chartist.ResponsiveOptions"></chartist>
                <dl>
                    <dt class="key ct-series-a-key">&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                    <dd>Personal Contributions</dd>
                    <dt class="key ct-series-b-key">&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                    <dd>Employer Contributions</dd>
                    <dt class="key ct-series-c-key">&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                    <dd>Government Contributions</dd>
                    <dt class="key ct-series-d-key">&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                    <dd>Total Value</dd>
                </dl>
            </section>
            <section id="incomeChart">
                <h3>Income Chart</h3>
                <chartist class="ct-chart" chartist-data="$parent.incomeData" chartist-chart-type="Line" chartist-chart-options="Chartist.Options" chartist-responsive-options="Chartist.ResponsiveOptions"></chartist>
                <dl>
                    <dt class="key ct-series-b-key">&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                    <dd>Investment Earnings</dd>
                </dl>
            </section>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th class="hideable">Opening Balance</th>
                    <th class="hideable">Personal Contributions</th>
                    <th class="hideable">Employer Contributions</th>
                    <th class="hideable">Government Contributions</th>
                    <th class="hideable">Investment earnings</th>
                    <th>Closing Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in kiwisaver.ReturnYears">
                    <td>{{i}}</td>
                    <td class="hideable">{{data.GetTotalValue()[i - 1] | currency}}</td>
                    <td class="hideable">{{data.GetPersonalContributions()[i - 1] | currency}}</td>
                    <td class="hideable">{{data.GetEmployerContributions()[i - 1] | currency}}</td>
                    <td class="hideable">{{data.GetGovernmentContributions()[i - 1] | currency}}</td>
                    <td class="hideable">{{data.GetInvestmentEarnings()[i - 1] | currency}}</td>
                    <td>{{data.GetTotalValue()[i] | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <footer>
        © 2016 - Jason. Please note that all data is approximate.
    </footer
</body>
</html>